<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h2>Url de connexion</h2>
            <h3>Merci pour l'inscription</h3>
            <p>Veuillez cliquez sur ce lien pour vous connecter :</p>
            <a href="{{url}}">Lien de connexion</a>
    
    
            <p>Cordialement</p>
        </div>

    </div>


</body>

</html>